(% extends "layout.html" %)

(% block content %)

<!--
  DO NOT SIMPLY COPY THOSE LINES. Download the JS and CSS files from the
  latest release (https://github.com/enyo/dropzone/releases/latest), and
  host them yourself!
-->
<script src="https://rawgit.com/enyo/dropzone/master/dist/dropzone.js"></script>
<link rel="stylesheet" href="https://rawgit.com/enyo/dropzone/master/dist/dropzone.css">

<style>
    .dropzone { border: 2px dashed #0087F7; border-radius: 5px; background: white; margin: 20px}
    .dropzone .dz-message { font-weight: 400; }
    .dropzone .dz-message .note { font-size: 0.8em; font-weight: 200; display: block; margin-top: 1.4rem; }
    .container-fluid { min-height: 100%; height: 100%;}
</style>


<div>
    <div class="container-fluid">
        <br>
        <br>
        <div class="row">
          <div class="col-sm"></div>
          <div class="col-sm text-center">
              <h2>How to Add New Sample Information for Use in ReDU-MS2</h2>
          </div>
          <div class="col-sm"></div>
        </div>

        <br>
        <div class="row">
            <div class="col-sm-2"></div>
            <div class="col-sm-8">
                <p>
              <b>Required Steps to Add Data to ReDU-MS2:</b>
                  <ul>
                    <li>
                            <b>Upload Data to GNPS (or MassIVE)</b> - Launch the workflow to create a MassIVE ID. Upon completetion (an email will be received) please click the "make public" and "convert spectra" buttons. Detailed instructions can be found <b><a href="https://ccms-ucsd.github.io/GNPSDocumentation/">here</a></b>.
                          </li>
                          <li>
                            <b>A Sample Information File (.tsv)</b> - instructions can be found below.
                          </li>
                    </ul>
Sample information is synonymous with file-level metadata, and it is necessary for data to be included in ReDU-MS2. One sample information file is required <b>per MassIVE ID</b> (it can contain multiple sample types, experiments, etc), and should be uploaded to the same MassIVE ID as the data. The file is required to adhere to the template which uses a controlled vocabulary. <b>If you require options that are not avaliable in the template, please contact the admins (<b>contact page hyperlink</b>) in order to update the options.</b> Note, sample information that does not adhere to the controlled vocabulary will be removed on a file-by-file basis.
                  <ul>
<h2>The sample information template can be found <a href="https://docs.google.com/spreadsheets/d/1xEYFvAR6GlB-Gv3OFr2xgnpNhhe6dznn7h0489HIReY/edit?usp=sharing">here</a>.</h2>
                   </ul>
              <ul>
              <b>The sample information file can be created by completing the following steps.</b>
              <ul>
                          <li>Users should save a copy of the sample information template by going to "File - Make a copy" into their personal google drive.
                          </li>
                          <li>Users should then fill in sample information using drop-downs when applicable (grey columns are automatically entered using formulae). If copying and pasting, please copy+special and paste without changing the cell formulae. The accepted entries when vocublary is controlled is displayed, per column, in "TheMagic" tab. <b>If you require options that are not avaliable in the template, please contact the admins (contact page hyperlink)</b>.
                            </li>
                          <li>When completed, delete all extra rows. Download from Google Sheets as a tab separated text file by "File-Download as" and selecting "Tab-seperated values..."
                          </li>
                <li> Rename the file as <b> gnps_metadata.tsv" </b> (it must be this exact name).
                            </li>
                <li> Check the sample informatoin using the drag-and-drop <b> validator </b> below. The validator will indicate via a message if there are any errors. Non-adherant information is displayed in the "Sample Information Validation Errors" panel - the row, column, and the accepted terms are listed.
                          </li>
                          <li> Once your sample information has passed validation, upload your sample information file ("gnps_metadata.tsv") to MassIVE (massive.ucsd.edu) by updating the appropriate MassIVE ID. <b>In order to update a MassIVE ID</b>, click the "add files" button in MassIVE and upload the sample information file in the <b>"supplementary file"</b> option. 
                          </li>
                      </ul>
                      <ul>
              <b>Notes:</b> *Sample information files are automatically imported into ReDU-MS2 multiple times per day from MassIVE. Any conflict between identically named files will result in their exclusion. The filename present in the same folder must match the uploaded data (.mzML or .mzXML). If corrections or updates are necessary, please make them accordingly and upload the new sample information file - our system will automatically import the most recent version of the "gnps_metadata.tsv" file (files cannot be deleted by users from MassIVE).   </ul>
              </p>
            </div>
            <div class="col-sm-2"></div>
        </div>

        <br>

        <div class="row">
            <div class="col-md-2" id=""></div>
            <div class="dropzone col-md-8" id="validate">
                <div class="dz-message">The Validator! Drop Sample Information Files Here or Click to Select</div>
            </div>
            <div class="col-md-2" id=""></div>
        </div>

        <div id="app-4" class="container-fluid">
            <br>
            <h2 class="text-center">Sample Information Summary</h2>
            <br>
            <table class="table table-sm table-striped">
                <thead>
                    <tr>
                        <th>Category</th>
                        <th>Value</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="stat in stats">
                        <td>{{stat.type}}</td>
                        <td>{{stat.value}}</td>
                    </tr>
                </tbody>
            </table>

            <hr>

            <h3 class="text-center">Sample Information Validation Errors (First 500)</h3>
            <br>
            <table class="table table-sm table-striped">
                <thead>
                    <tr>
                        <th>Header</th>
                        <th>Line Number</th>
                        <th>Error String</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="error in errors">
                        <td>{{error.header}}</td>
                        <td>{{error.line_number}}</td>
                        <td>{{error.error_string}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<script>
    validatedropzone = new Dropzone("#validate", { url: "validate", maxFilesize: 200, parallelUploads:1});
    validatedropzone.on("success", function(file, response) {
        validation_json = JSON.parse(response)
        app4._data.errors = validation_json.errors.slice(0, 500);
        app4._data.stats = validation_json.stats;
        app4._data.pass_validation = validation_json.status;

        if(validation_json.status){
            alert("Sample Information File Passed Validation!")
        }
        else{
            alert("Sample Information File Failed Validation! Please Check Errors Below.")
        }
    });

    validatedropzone.on("error", function(file) {

    });

    var app4 = new Vue({
        el: '#app-4',
        methods: {
        },
        data: {
            pass_validation: null,
            errors: [],
            stats: []
        }
    })
</script>

(% endblock %)
