(% extends "layout.html" %)

(% block content %)

<script src="/static/datatables/datatables.min.js" crossorigin="anonymous"></script>
<link rel="stylesheet" href="/static/datatables/datatables.min.css" crossorigin="anonymous">

    <div id="app-4" class="container-fluid justify-content-center align-items-center">
        <div class="row">
            <div class="col-sm"></div>
            <div class="col-sm text-center">
                <h2>Explore Chemical Annotations and Associated Sample Information in all Public Data</h2>
            </div>
            <div class="col-sm"></div>
        </div>

        <hr>

        <div class="col-sm text-center">
            <h2>Chemicals Annotated via GNPS</h2>
        </div>

        <div class="table table-striped">
            <table id="datatable" class="display" width="100%"></table>
        </div>
    </div>
    
    <script>

    //Setting the Spinner
    setTimeout(function() {
        $("#loadMe").modal({
            backdrop: "static", //remove ability to close modal with click
            keyboard: false, //remove option to close with keyboard
            show: true //Display loader!
        });
    }, 1);

    url = "/compounds"

    all_files_string = decodeURIComponent(window.location.hash).slice(1)

    $.ajax({
        url: url,
        type: "GET",
        data: {
        },
        success: function(componentObject) {
            return function(response) {
                $("#loadMe").modal("hide") //Hiding Modal

                $('#datatable').DataTable( {
                    data: response,
                    columns: [
                        { data: "compound" , title: "Compound"}, 
                        { data: "count" , title: "Number of Files"}, 
                        { data: "compound" , title: "View Files"}, 
                        { data: "compound" , title: "Associated Sample Information"}
                    ],
                    pageLength: 30,
                    columnDefs: [ {
                        "targets": 2,
                        "data": null,
                        "render": function ( data, type, row, meta ) {
                        return '<a class="btn btn-warning btn-block" target="_blank" href="/compoundfilenamelist?compoundname='+row['compound']+'">View Files</a>';
                        }}, 
                        {
                        "targets": 3,
                        "data": null,
                        "render": function ( data, type, row, meta ) {
                        return '<a class="btn btn-warning btn-block" target="_blank" href="/compoundenrichmentdashboard?compound='+row['compound']+'">View Associations</a>';
                        }}],
                    dom: 'Bflrtip',
                    buttons: [
                        'copy', 'csv', 'excel'
                    ]
                } );

            }
        }(this),
        dataType: "json"
    });
    </script>


(% endblock %)
