(% extends "layout.html" %)

(% block content %)

    <style>
    tbody {
        display:block;
        height:800px;
        overflow:auto;
    }
    thead, tbody tr {
        display:table;
        width:100%;
        table-layout:fixed;
    }
    thead {
        width: calc( 100% - 1em )
    }

    </style>


    <div id="app-4" class="container-fluid justify-content-center align-items-center">
        <div class="row">
            <div class="col-sm"></div>
            <div class="col-sm text-center">
                <h2>xplore Chemical Annotations and Associated Sample Information in all Public Data</h2>
            </div>
            <div class="col-sm"></div>
        </div>

        <hr>

        <div class="col-sm text-center">
            <h2>Chemicals Annotated via GNPS</h2>
        </div>

        <div>
            <table class="table table-sm table-striped">
                <thead>
                  <tr>
                    <th>
                        Chemical
                    </th>
                    <th>
                        Number of Files
                    </th>
                    <th>
                        View Files
                    </th>
                    <th>
                        View Associated Sample Information
                    </th>
                  </tr>
                </thead>
                <tbody>
                    <tr v-for="compoundobject in compoundlist">
                        <td>{{compoundobject.compound}}</td>
                        <td>{{compoundobject.count}}</td>
                        <td>
                            <compoundfiles-linkout :compoundname=compoundobject.compound></compoundfiles-linkout>
                        </td>
                        <td>
                            <compoundenrichment-linkout :compoundname=compoundobject.compound></compoundenrichment-linkout>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <script>
    Vue.component('compoundfiles-linkout', {
        props: ['compoundname'],
        data: function() {
            return {}
        },
        methods: {
            clickMe: function(event) {
                analysis_url = "/compoundfilename?compoundname=" + encodeURIComponent(this.$props["compoundname"])
                var win = window.open(analysis_url, '_blank');
                win.focus();
            }
        },
        template: '<div><button class="btn btn-warning btn-block" style="margin-bottom:4px" v-on:click="clickMe">View Files</button></div>'
    })

    Vue.component('compoundenrichment-linkout', {
        props: ['compoundname'],
        data: function() {
            return {}
        },
        methods: {
            clickMe: function(event) {
                analysis_url = "/compoundenrichmentdashboard?compound=" + encodeURIComponent(this.$props["compoundname"]) + "#" + encodeURIComponent(all_files_string)
                var win = window.open(analysis_url, '_blank');
                win.focus();
            }
        },
        template: '<div><button class="btn btn-warning btn-block" style="margin-bottom:4px" v-on:click="clickMe">View Enrichment</button></div>'
    })

    var app4 = new Vue({
        el: '#app-4',
        methods: {},
        data: {
            compoundlist: []
        }
    })

    url = "/compounds"

    all_files_string = decodeURIComponent(window.location.hash).slice(1)

    $.ajax({
        url: url,
        type: "GET",
        data: {
        },
        success: function(componentObject) {
            return function(response) {
                console.log(response);
                app4.compoundlist = response
            }
        }(this),
        dataType: "json"
    });
    </script>


(% endblock %)
