(% extends "layout.html" %)

(% block content %)


<div id="app-4" class="container-fluid justify-content-center align-items-center">
    <br>

    <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-12 text-center">
            <h2>Project your data (library search results) onto the PCA of public data</h2>
        </div>
        <div class="col-sm-1"></div>
    </div>

    <br>

    <div id="displayer">
        <div class="row">
            <div class="col-sm"></div>
            <div class="col-sm">
                <div class="text-center">
                    <input type="text" class="form-control" name="task" id="task"
                        placeholder="Enter GNPS Library Search Task ID">
                </div>
            </div>
            <div class="col-sm"></div>
        </div>

        <br>

        <div class="row">
            <div class="col-sm"></div>
            <div class="col-sm">
                <div class="text-center">
                    <button id="analyzebutton" class="btn btn-primary" onclick="createMyPCA()">View PCA</button>
                    <button id="analyzebutton" class="btn btn-primary" onclick="createNearestNeighborPCA()">View Nearest
                        Neighbors (Experimental)</button>
                </div>
            </div>
            <div class="col-sm"></div>
        </div>

        <br>
        <div class="row">
            <div class="col-sm"></div>
            <div class="col-sm">
                <div class="text-center">
                    <a id="analyzebutton" class="btn btn-info"
                        href="/processcomparemultivariate?task=f39c94cb7afe4568950bf61cdb8fee0d">Click for Example
                        PCA</button></a>
                    <a id="analyzebutton" class="btn btn-info"
                        href="/processcomparemultivariate?task=f39c94cb7afe4568950bf61cdb8fee0d&knn=1">Click for
                        Example Nearest Neighbor (Experimental)</button></a>
                </div>
            </div>
            <div class="col-sm"></div>
        </div>

    </div>
</div>

<script>
    function createMyPCA() {
        user_entered_task = $("#task").val()

        if (user_entered_task.length != 32) {
            alert("Please enter a valid GNPS Task ID")
        }
        else {
            remote_url = "/processcomparemultivariate?task=" + $("#task").val() + "&knn=0"
            $('#display').prepend($('<img>', { id: 'pca', src: remote_url }))
            window.location.replace(remote_url)
        }
    }

    function createNearestNeighborPCA() {
        user_entered_task = $("#task").val()

        if (user_entered_task.length != 32) {
            alert("Please enter a valid GNPS Task ID")
        }
        else {
            remote_url = "/processcomparemultivariate?task=" + $("#task").val() + "&knn=1"
            $('#display').prepend($('<img>', { id: 'pca', src: remote_url }))
            window.location.replace(remote_url)
        }
    }


    function clickExample() {
        remote_url = "/processcomparemultivariate?task=" + "f39c94cb7afe4568950bf61cdb8fee0d"
        window.location.replace(remote_url)
    }

</script>

(% endblock %)