(% extends "layout.html" %)

(% block content %)

<script src="/static/datatables/datatables.min.js" crossorigin="anonymous"></script>
<link rel="stylesheet" href="/static/datatables/datatables.min.css" crossorigin="anonymous">

    <div id="app-4" class="container-fluid">
        <br>
        <h2 class="text-center">Chemical Enrichment Query Interface</h2>
        <br>
        <div class="col-md-6 offset-md-4">
            <div class="form-group row">
                <label for="compound" class="col-4 col-form-label">Compound</label>
                <div class="col-4">
                    <input class="form-control" type="text" placeholder="Enter Compound Name" id="compound">
                </div>
            </div>
            <query-results></query-results>
        </div>
        
        <div class="table table-striped">
            <table id="datatable" class="display" width="100%"></table>
        </div>
    </div>

    <script>
        all_files = []
        if(window.location.hash.length > 5){
            all_files = JSON.parse(decodeURIComponent(window.location.hash).slice(1))["filenames"]
        }

        function renderDataTable(results){
            $('#datatable').DataTable( {
                    data: results,
                    columns: [
                        { data: "attribute_name" , title: "Attribute"}, 
                        { data: "attribute_term" , title: "Term"}, 
                        { data: "compoundfiles" , title: "Observations"}, 
                        { data: "totalfiles" , title: "Total Files"},
                        { data: "percentage" , title: "Percentage"}
                    ],
                    pageLength: 30,
                    dom: 'Bflrtip',
                    buttons: [
                        'copy', 'csv', 'excel'
                    ]
                } );

        }

        function querycompound() {
            $("#loadMe").modal({
                backdrop: "static", //remove ability to close modal with click
                keyboard: false, //remove option to close with keyboard
                show: true //Display loader!
            });

            $.ajax({
                url: "/compoundenrichment",
                type: "POST",
                success: function(componentObject) {
                    return function(response) {
                        renderDataTable(response)
                        $("#loadMe").modal("hide")
                    }
                }(this),
                data: {
                    compoundname: $("#compound").val(),
                    filenames: JSON.stringify(all_files)
                },
                dataType: "json"
            });
        }

        function queryfiles() {
            $("#loadMe").modal({
                backdrop: "static", //remove ability to close modal with click
                keyboard: false, //remove option to close with keyboard
                show: true //Display loader!
            });

            $.ajax({
                url: "/filesenrichment",
                type: "POST",
                success: function(componentObject) {
                    return function(response) {
                        renderDataTable(response)
                        $("#loadMe").modal("hide")
                    }
                }(this),
                data: {
                    filenames: JSON.stringify(all_files)
                },
                dataType: "json"
            });
        }

        Vue.component('query-results', {
            props: [],
            data: function() {
                return {
                    classSelection: "btn btn-primary"
                }
            },
            methods: {
                clickMe: querycompound
            },
            template: '<div><button  v-bind:class=classSelection v-on:click="clickMe()">Query Compound</button></div>'
        })

        var app4 = new Vue({
            el: '#app-4',
            methods: {
            },
            data: {
                results: []
            }
        })

        var params = new window.URLSearchParams(window.location.search);
        if(params.has("compound") == true){
            $("#compound").val(params.get("compound"))
            querycompound();
        }else if(all_files.length > 0){
            queryfiles();
        }






    </script>

(% endblock %)
