(% extends "layout.html" %)

(% block content %)

<script src="/static/datatables/datatables.min.js" crossorigin="anonymous"></script>
<link rel="stylesheet" href="/static/datatables/datatables.min.css" crossorigin="anonymous">

    <div id="app-4" class="container-fluid justify-content-center align-items-center">
        <div class="row">
            <div class="col-sm"></div>
            <div class="col-sm text-center">
                <h2>Files For Compound</h2>
            </div>
            <div class="col-sm"></div>
        </div>

        <hr>

        <div class="table table-striped">
            <table id="datatable" class="display" width="100%"></table>
        </div>
    </div>
    
    <script>

    url = "/compoundfilename"

    $.ajax({
        url: url + window.location.search, 
        type: "GET",
        data: {},
        success: function(componentObject) {
            return function(response) {
                $('#datatable').DataTable( {
                    data: response,
                    columns: [
                        { data: "filepath" , title: "Filename"}
                    ],
                    pageLength: 30
                } );

            }
        }(this),
        dataType: "json"
    });

    
    </script>


(% endblock %)
