
(% extends "layout.html" %)

(% block content %)
<div id="app-4" class="container-fluid">
    <br>
    <h2 class="text-center">File Query for Sample Information</h2>
    <br>
    <div class="col-md-6 offset-md-4">
        <div class="form-group row">
            <label for="filename" class="col-4 col-form-label">Filename (full path required)</label>
            <div class="col-4">
                <input class="form-control" type="text" placeholder="Enter Filename" id="filename">
            </div>
        </div>
        <query-results></query-results>
    </div>
    <div>{{results.length}} Metadata</div>
    <table class="table table-sm table-striped">
        <thead>
              <tr>
                <th>Sample Information</th>
                <th>Term</th>
              </tr>
        </thead>
        <tbody>
            <tr v-for="result in results">
                <td>{{result.attribute_name}}</td>
                <td>{{result.attribute_term}}</td>
            </tr>
        </tbody>
    </table>
</div>

<script>
    function queryfilename() {
                $.ajax({
                    url: "/filenamedict",
                    success: function(componentObject) {
                        return function(response) {
                            app4._data.results = response
                        }
                    }(this),
                    data: {
                        query: $("#filename").val(),
                        allattributes: "true"
                    },
                    dataType: "json"
                });
            }


    Vue.component('query-results', {
        props: [],
        data: function() {
            return {
                classSelection: "btn btn-primary"
            }
        },
        methods: {
            clickMe: queryfilename
        },
        template: '<div><button  v-bind:class=classSelection v-on:click="clickMe()">Query Filename</button></div>'
    })
    var app4 = new Vue({
        el: '#app-4',
        methods: {
        },
        data: {
            results: []
        }
    })

    var params = new window.URLSearchParams(window.location.search);
    if(params.has("filename") == true){
        $("#filename").val(params.get("filename"))
        queryfilename();
    }
</script>
(% endblock %)
