(% extends "layout.html" %)

(% block content %)

<script src="/static/datatables/datatables.min.js" crossorigin="anonymous"></script>
<link rel="stylesheet" href="/static/datatables/datatables.min.css" crossorigin="anonymous">

<div id="app-4" class="container-fluid justify-content-center align-items-center">
    <div class="row">
        <div class="col-sm"></div>
        <div class="col-sm text-center">
            <h2>Chemical Enrichment Analysis Results</h2>
        </div>
        <div class="col-sm"></div>
    </div>

    <hr>

    <div class="col-sm text-center">
        <h2>Chemicals Annotated via GNPS</h2>
    </div>

    <div class="table table-striped">
        <table id="datatable" class="display" width="100%"></table>
    </div>
</div>

<script>
var app4 = new Vue({
    el: '#app-4',
    methods: {
        updateAttributeSelection: function(attributeterm_list) {
            this.attributeterms = attributeterm_list
        }
    },
    data: {
        compoundlist: []
    }
})

// Get the hash and make the query
all_files = JSON.parse(decodeURIComponent(window.location.hash).slice(1))

mode = all_files["mode"]

url = "/explorer"

$.ajax({
    url: url,
    type: "POST",
    data: {
        G1: JSON.stringify(all_files["G1"]),
        G2: JSON.stringify(all_files["G2"]),
        G3: JSON.stringify(all_files["G3"]),
        G4: JSON.stringify(all_files["G4"]),
        G5: JSON.stringify(all_files["G5"]),
        G6: JSON.stringify(all_files["G6"])
    },
    success: function(componentObject) {
        return function(response) {
            $('#datatable').DataTable( {
                data: response,
                columns: [
                    { data: "compound" , title: "Compound", width: "20%"}, 
                    { data: "count1" , title: "Files in G1"}, 
                    { data: "count2" , title: "Files in G2"}, 
                    { data: "count3" , title: "Files in G3"}, 
                    { data: "count4" , title: "Files in G4"}, 
                    { data: "count5" , title: "Files in G5"}, 
                    { data: "count6" , title: "Files in G6"},
                    { data: "count1_norm" , title: "% in G1"}, 
                    { data: "count2_norm" , title: "% in G2"}, 
                    { data: "count3_norm" , title: "% in G3"}, 
                    { data: "count4_norm" , title: "% in G4"}, 
                    { data: "count5_norm" , title: "% in G5"}, 
                    { data: "count6_norm" , title: "% in G6"}
                ],
                pageLength: 30,
                } );

        }
    }(this),
    dataType: "json"
});

</script>

(% endblock %)
