(% extends "layout.html" %)
(% block content %)

<div id="app-4" class="container-fluid justify-content-center align-items-center">
    <br>

    <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm text-center">
            <h2>File Selection Interface</h2>
        </div>
        <div class="col-sm-1"></div>
    </div>

    <hr>

    <div id="toppanel" class="row">
        <div class="col">
            <div class="text-center">
                <h3>Selection Summary</h3>
            </div>

            <analysis-display-selection></analysis-display-selection>
        </div>

        <div class="col">
            <div class="text-center">
                <h3>Sample Information Attributes</h3>
            </div>
            <attribute-viewer v-for="item in attributes" v-bind:attributename="item.attributename" v-bind:attributedisplay="item.attributedisplay" v-on:update-attribute="updateAttributeSelection"></attribute-viewer>
        </div>

        <div class="col">
            <div class="text-center">
                <h3>Attribute Filters</h3>
            </div>
            <attribute-filterviewer v-for="item in filterTerms" v-bind:attributename="item.attributename" v-bind:attributeterm="item.attributeterm"></attribute-filterviewer>
        </div>
    </div>

    <hr>

    <div class="col-sm text-center">
        <h2>Attribute Terms</h2>
    </div>
    <div style="overflow-y:auto; height:400px">
        <table class="table table-sm table-striped">
            <thead>
              <tr>
                <th>Attribute</th>
                <th>Ontology Term</th>
                <th>Term</th>
                <th>Filter</th>
                <th># Files</th>
                <th>G1</th>
                <th>G2</th>
                <th>G3</th>
                <th>G4</th>
                <th>G5</th>
                <th>G6</th>
              </tr>
            </thead>
            <tbody>
                <!-- <attributeterm-viewer :attributeterm=attributeterm.attributeterm :countfiles=attributeterm.countfiles :attributename=attributeterm.attributename v-on:update-attributeterm="updateAttributeTermSelection"></attributeterm-viewer> -->
                <tr v-for="attributeterm in attributeterms">
                    <td>{{attributeterm.attributename}}</td>
                    <td>{{attributeterm.ontologyterm}}</td>
                    <td>{{attributeterm.attributeterm}}</td>
                    <td>
                        <attributeterm-filterbutton :attributeterm=attributeterm.attributeterm :attributename=attributeterm.attributename ></attributeterm-filterbutton>
                    </td>
                    <td>{{attributeterm.countfiles}}</td>
                    <td>
                        <attributeterm-analyzebutton :attributeterm=attributeterm.attributeterm groupname="G1" :attributename=attributeterm.attributename v-on:update-attributeterm="updateAttributeTermSelection"></attributeterm-analyzebutton>
                    </td>
                    <td>
                        <attributeterm-analyzebutton :attributeterm=attributeterm.attributeterm groupname="G2" :attributename=attributeterm.attributename v-on:update-attributeterm="updateAttributeTermSelection"></attributeterm-analyzebutton>
                    </td>
                    <td>
                        <attributeterm-analyzebutton :attributeterm=attributeterm.attributeterm groupname="G3" :attributename=attributeterm.attributename v-on:update-attributeterm="updateAttributeTermSelection"></attributeterm-analyzebutton>
                    </td>
                    <td>
                        <attributeterm-analyzebutton :attributeterm=attributeterm.attributeterm groupname="G4" :attributename=attributeterm.attributename v-on:update-attributeterm="updateAttributeTermSelection"></attributeterm-analyzebutton>
                    </td>
                    <td>
                        <attributeterm-analyzebutton :attributeterm=attributeterm.attributeterm groupname="G5" :attributename=attributeterm.attributename v-on:update-attributeterm="updateAttributeTermSelection"></attributeterm-analyzebutton>
                    </td>
                    <td>
                        <attributeterm-analyzebutton :attributeterm=attributeterm.attributeterm groupname="G6" :attributename=attributeterm.attributename v-on:update-attributeterm="updateAttributeTermSelection"></attributeterm-analyzebutton>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <hr>

    <div id="toppanel" class="row">
        <div class="col">
            <div class="text-center">
                <h3>Co-analysis of Your Data and Public Data in GNPS</h3>
            </div>

            <hr>

            <analysis-gnps-setup></analysis-gnps-setup>
        </div>

        <div class="col">
            <div class="text-center">
                <h3>Re-analysis of Public Data in GNPS</h3>
            </div>

            <hr>

            <analysis-gnps-launch></analysis-gnps-launch>

            <analysis-enrichment-launch></analysis-enrichment-launch>
        </div>

    </div>

    <hr>

</div>

<script>
    function generateGNPSfilestring(fileslist) {
        filelist1_array = extractFilenamesToList(fileslist)
        filelist_string = filelist1_array.join(";")

        return filelist_string
    }

    function extractFilenamesToList(fileslist){
        filelist1_array = []
        fileslist.forEach(function(element) {
            filelist1_array.push(element["filename"])
        })
        return filelist1_array
    }

    Vue.component('attribute-viewer', {
        props: ['attributename', 'attributedisplay'],
        data: function() {
            return {
                count: 0
            }
        },
        methods: {
            clickMe: function(event) {
               $("#loadMe").modal({
                 backdrop: "static", //remove ability to close modal with click
                   keyboard: false, //remove option to close with keyboard
                   show: true //Display loader!
               });

                $.ajax({
                    url: "/attribute/" + this.$props["attributename"] + "/attributeterms",
                    data: {
                        filters: JSON.stringify(this.$parent.filterTerms)
                    },
                    success: function(componentObject) {
                        return function(response) {
                            $("#loadMe").modal("hide");
                            componentObject.$emit("update-attribute", response)
                        }
                    }(this),
                    dataType: "json"
                });
            }
        },
        template: '<div><button class="btn btn-warning btn-block" style="margin-bottom:4px" v-on:click="clickMe">{{attributedisplay}}</button></div>'
    })

    Vue.component('attribute-filterviewer', {
        props: ['attributename', 'attributeterm'],
        data: function() {
            return {
                count: 0
            }
        },
        methods: {
            clickMe: function(event) {
                found_index = -1
                for( i = 0; i < this.$parent.filterTerms.length; i++){
                    if(this.$parent.filterTerms[i].attributename == this.$props["attributename"] && this.$parent.filterTerms[i].attributeterm == this.$props["attributeterm"]){
                        found_index = i;
                    }
                }

                if (found_index !== -1) {
                    this.$parent.filterTerms.splice(found_index, 1);
                }

            }
        },
        template: '<div><button class="btn btn-danger btn-block" style="margin-bottom:4px"  v-on:click="clickMe">{{attributename}} : {{attributeterm}}</button></div>'
    })

    Vue.component('attributeterm-filterbutton', {
        props: ['attributename', 'attributeterm'],
        data: function() {
            return {
                classSelection: "btn-sm btn-outline-secondary"
            }
        },
        methods: {
            clickMe: function() {
                //Checking if we've already added this term to a group
                found_index = -1
                for( i = 0; i < this.$parent.filterTerms.length; i++){
                    if(this.$parent.filterTerms[i].attributename == this.$props["attributename"] && this.$parent.filterTerms[i].attributeterm == this.$props["attributeterm"]){
                        found_index = i;
                    }
                }

                if (found_index == -1) {
                    this.$parent.filterTerms.push({
                        attributename:   this.$props["attributename"],
                        attributeterm: this.$props["attributeterm"]
                    })
                }



                //console.log(term_key)

                //this.classSelection = "btn-sm btn-danger"
            }
        },
        template: '<button v-bind:class=classSelection v-on:click="clickMe()">+Filter</button>'
    })

    Vue.component('attributeterm-analyzebutton', {
        props: ['attributename', 'attributeterm', 'groupname'],
        data: function() {
            return {
                classSelection: "btn-sm btn-outline-secondary"
            }
        },
        methods: {
            clickMe: function() {
                //Checking if we've already added this term to a group
                term_key = this.$props["attributename"] + ":" + this.$props["attributeterm"] + ":" + this.$props["groupname"]
                if(this.$parent.selectedTerms.includes(term_key)){
                    alert("Already Chose This Term")
                    return
                }

                this.classSelection = "btn-sm btn-danger"
                $.ajax({
                    url: "/attribute/" + this.$props["attributename"] + "/attributeterm/" + this.$props["attributeterm"] + "/files",
                    data: {
                        filters: JSON.stringify(this.$parent.filterTerms)
                    },
                    success: function(componentObject) {
                        return function(response) {
                            componentObject.$emit("update-attributeterm", componentObject.$props["attributename"], componentObject.$props["attributeterm"], componentObject.$props["groupname"], response)
                        }
                    }(this),
                    dataType: "json"
                });
            }

        },
        template: '<button  v-bind:class=classSelection v-on:click="clickMe(\'{{ groupname }}\')">+{{ groupname }}</button>'
    })

    Vue.component('analysis-display-selection', {
        data: function() {
            return {}
        },
        methods: {},
        template: '<div> <table class="table table-striped"> \
        <tr> \
        <th>Group Number</th> \
        <th>Number of Selected Files</th> \
        </tr> \
        <tr><td>Group 1 </td><td>{{ this.$parent.groupG1.length }}</td></tr>\
        <tr><td>Group 2 </td><td>{{ this.$parent.groupG2.length }}</td></tr>\
        <tr><td>Group 3 </td><td>{{ this.$parent.groupG3.length }}</td></tr>\
        <tr><td>Group 4 </td><td>{{ this.$parent.groupG4.length }}</td></tr>\
        <tr><td>Group 5 </td><td>{{ this.$parent.groupG5.length }}</td></tr>\
        <tr><td>Group 6 </td><td>{{ this.$parent.groupG6.length }}</td></tr>\
        </table></div>'
    })

    Vue.component('analysis-gnps-launch', {
        data: function() {
            return {}
        },
        methods: {
            // launchlibrarysearch: function(event){
            //     total_number_of_files = this.$parent.groupG1.length + this.$parent.groupG2.length + this.$parent.groupG3.length + this.$parent.groupG4.length + this.$parent.groupG5.length + this.$parent.groupG6.length
            //     unique_list_files = extractFilenamesToList(this.$parent.groupG1.concat(this.$parent.groupG2, this.$parent.groupG3, this.$parent.groupG4, this.$parent.groupG5, this.$parent.groupG6));
            //     unique_list_files = Array.from(new Set(unique_list_files));

            //     $.ajax({
            //         url: "/analyzelibrarysearch",
            //         method: "POST",
            //         data: {
            //             files: JSON.stringify(unique_list_files)
            //         },
            //         success: function(response) {
            //             task = response["taskid"]

            //             if(task == null){
            //                 alert("Error Launching Job")
            //             }
            //             else{
            //                 analysis_url = "https://gnps.ucsd.edu/ProteoSAFe/result.jsp?task=" + task
            //                 var win = window.open(analysis_url, '_blank');
            //                 win.focus();
            //             }
            //         },
            //         dataType: "json"
            //     });
            // }
            setupnetworking: function(event) {
                //Checking there are no file intersections
                total_number_of_files = this.$parent.groupG1.length + this.$parent.groupG2.length + this.$parent.groupG3.length + this.$parent.groupG4.length + this.$parent.groupG5.length + this.$parent.groupG6.length
                unique_list_files = extractFilenamesToList(this.$parent.groupG1.concat(this.$parent.groupG2, this.$parent.groupG3, this.$parent.groupG4, this.$parent.groupG5, this.$parent.groupG6));
                unique_list_files = Array.from(new Set(unique_list_files));
                if(total_number_of_files != unique_list_files.length){
                    alert("Warning: some files belong to multiple groups! Might cause some issues on GNPS")
                }

                //Forming parameters
                params_dict = {};
                params_dict["desc"] = "Meta-Analysis on GNPS"
                params_dict["workflow"] = "METABOLOMICS-SNETS-V2"
                params_dict["library_on_server"] = "d.speclibs;"
                params_dict["spec_on_server"] = generateGNPSfilestring(this.$parent.groupG1)
                params_dict["spec_on_server_group2"] = generateGNPSfilestring(this.$parent.groupG2)
                params_dict["spec_on_server_group3"] = generateGNPSfilestring(this.$parent.groupG3)
                params_dict["spec_on_server_group4"] = generateGNPSfilestring(this.$parent.groupG4)
                params_dict["spec_on_server_group5"] = generateGNPSfilestring(this.$parent.groupG5)
                params_dict["spec_on_server_group6"] = generateGNPSfilestring(this.$parent.groupG6)

                //analysis_url = "https://ccms-internal.ucsd.edu/ProteoSAFe/index.jsp?#" + encodeURIComponent(JSON.stringify(params_dict))
                analysis_url = "https://gnps.ucsd.edu/ProteoSAFe/index.jsp?#" + encodeURIComponent(JSON.stringify(params_dict))
                var win = window.open(analysis_url, '_blank');
                win.focus();
            },
            setuplibrarysearch: function(event){
                total_number_of_files = this.$parent.groupG1.length + this.$parent.groupG2.length + this.$parent.groupG3.length + this.$parent.groupG4.length + this.$parent.groupG5.length + this.$parent.groupG6.length
                unique_list_files = extractFilenamesToList(this.$parent.groupG1.concat(this.$parent.groupG2, this.$parent.groupG3, this.$parent.groupG4, this.$parent.groupG5, this.$parent.groupG6));
                unique_list_files = Array.from(new Set(unique_list_files));
                if(total_number_of_files != unique_list_files.length){
                    alert("Warning: some files belong to multiple groups! Might cause some issues on GNPS")
                }

                //Forming parameters
                params_dict = {};
                params_dict["desc"] = "Meta-Analysis on GNPS"
                params_dict["workflow"] = "MOLECULAR-LIBRARYSEARCH-V2"
                params_dict["library_on_server"] = "d.speclibs;"
                params_dict["spec_on_server"] = generateGNPSfilestring(this.$parent.groupG1)

                analysis_url = "https://gnps.ucsd.edu/ProteoSAFe/index.jsp?#" + encodeURIComponent(JSON.stringify(params_dict))
                var win = window.open(analysis_url, '_blank');
                win.focus();
            }

      
       },
        template: '<div> <button class="btn btn-primary btn-block" v-on:click="setupnetworking">Set Up Re-Analysis with GNPS Molecular Networking</button> \
        <br> \
            <button class="btn btn-primary btn-block" v-on:click="setuplibrarysearch">Set Up Re-Analysis with GNPS Library Search</button> \
        <br> \
        </div>'
    })

    Vue.component('analysis-enrichment-launch', {
        data: function() {
            return {}
        },
        methods: {
            launchenrichment: function(event){
                total_number_of_files = this.$parent.groupG1.length + this.$parent.groupG2.length + this.$parent.groupG3.length + this.$parent.groupG4.length + this.$parent.groupG5.length + this.$parent.groupG6.length
                unique_list_files = extractFilenamesToList(this.$parent.groupG1.concat(this.$parent.groupG2, this.$parent.groupG3, this.$parent.groupG4, this.$parent.groupG5, this.$parent.groupG6));
                unique_list_files = Array.from(new Set(unique_list_files));
                if(total_number_of_files != unique_list_files.length){
                    alert("Warning: some files belong to multiple groups! Might cause some issues on GNPS")
                }

                params_dict = {};
                params_dict["G1"] = extractFilenamesToList(this.$parent.groupG1)
                params_dict["G2"] = extractFilenamesToList(this.$parent.groupG2)
                params_dict["G3"] = extractFilenamesToList(this.$parent.groupG3)
                params_dict["G4"] = extractFilenamesToList(this.$parent.groupG4)
                params_dict["G5"] = extractFilenamesToList(this.$parent.groupG5)
                params_dict["G6"] = extractFilenamesToList(this.$parent.groupG6)

                analysis_url = "/explorerdashboard#" + encodeURIComponent(JSON.stringify(params_dict))
                var win = window.open(analysis_url, '_blank');
                win.focus();
            },
            launchcompoundenrichment: function(event){
                total_number_of_files = this.$parent.groupG1.length + this.$parent.groupG2.length + this.$parent.groupG3.length + this.$parent.groupG4.length + this.$parent.groupG5.length + this.$parent.groupG6.length
                unique_list_files = extractFilenamesToList(this.$parent.groupG1.concat(this.$parent.groupG2, this.$parent.groupG3, this.$parent.groupG4, this.$parent.groupG5, this.$parent.groupG6));

                params_dict = {};
                params_dict["filenames"] = unique_list_files

                analysis_url = "/compoundslist#" + encodeURIComponent(JSON.stringify(params_dict))
                var win = window.open(analysis_url, '_blank');
                win.focus();
            }

         
        },
        template: '<div><button class="btn btn-primary btn-block" v-on:click="launchenrichment">Launch Chemical Enrichment Analysis</button> \
        <br> \
        <button class="btn btn-primary btn-block" v-on:click="launchcompoundenrichment">Launch Sample Information Association</button>\
        <br> \
        </div>'
    })
        
        Vue.component('analysis-gnps-setup', {
        data: function() {
            return {}
        },
        methods: {
            setupnetworking: function(event) {
                //Checking there are no file intersections
                total_number_of_files = this.$parent.groupG1.length + this.$parent.groupG2.length + this.$parent.groupG3.length + this.$parent.groupG4.length + this.$parent.groupG5.length + this.$parent.groupG6.length
                unique_list_files = extractFilenamesToList(this.$parent.groupG1.concat(this.$parent.groupG2, this.$parent.groupG3, this.$parent.groupG4, this.$parent.groupG5, this.$parent.groupG6));
                unique_list_files = Array.from(new Set(unique_list_files));
                if(total_number_of_files != unique_list_files.length){
                    alert("Warning: some files belong to multiple groups! Might cause some issues on GNPS")
                }

                //Forming parameters
                params_dict = {};
                params_dict["desc"] = "Meta-Analysis on GNPS"
                params_dict["workflow"] = "METABOLOMICS-SNETS-V2"
                params_dict["library_on_server"] = "d.speclibs;"
                params_dict["spec_on_server"] = generateGNPSfilestring(this.$parent.groupG1)
                params_dict["spec_on_server_group2"] = generateGNPSfilestring(this.$parent.groupG2)
                params_dict["spec_on_server_group3"] = generateGNPSfilestring(this.$parent.groupG3)
                params_dict["spec_on_server_group4"] = generateGNPSfilestring(this.$parent.groupG4)
                params_dict["spec_on_server_group5"] = generateGNPSfilestring(this.$parent.groupG5)
                params_dict["spec_on_server_group6"] = generateGNPSfilestring(this.$parent.groupG6)

                //analysis_url = "https://ccms-internal.ucsd.edu/ProteoSAFe/index.jsp?#" + encodeURIComponent(JSON.stringify(params_dict))
                analysis_url = "https://gnps.ucsd.edu/ProteoSAFe/index.jsp?#" + encodeURIComponent(JSON.stringify(params_dict))
                var win = window.open(analysis_url, '_blank');
                win.focus();
            },
            setuplibrarysearch: function(event){
                total_number_of_files = this.$parent.groupG1.length + this.$parent.groupG2.length + this.$parent.groupG3.length + this.$parent.groupG4.length + this.$parent.groupG5.length + this.$parent.groupG6.length
                unique_list_files = extractFilenamesToList(this.$parent.groupG1.concat(this.$parent.groupG2, this.$parent.groupG3, this.$parent.groupG4, this.$parent.groupG5, this.$parent.groupG6));
                unique_list_files = Array.from(new Set(unique_list_files));
                if(total_number_of_files != unique_list_files.length){
                    alert("Warning: some files belong to multiple groups! Might cause some issues on GNPS")
                }

                //Forming parameters
                params_dict = {};
                params_dict["desc"] = "Meta-Analysis on GNPS"
                params_dict["workflow"] = "MOLECULAR-LIBRARYSEARCH-V2"
                params_dict["library_on_server"] = "d.speclibs;"
                params_dict["spec_on_server"] = generateGNPSfilestring(this.$parent.groupG1)

                analysis_url = "https://gnps.ucsd.edu/ProteoSAFe/index.jsp?#" + encodeURIComponent(JSON.stringify(params_dict))
                var win = window.open(analysis_url, '_blank');
                win.focus();
            },
             setuppca: function(event) {
                total_number_of_files = this.$parent.groupG1.length + this.$parent.groupG2.length + this.$parent.groupG3.length + this.$parent.groupG4.length + this.$parent.groupG5.length + this.$parent.groupG6.length
                unique_list_files = extractFilenamesToList(this.$parent.groupG1.concat(this.$parent.groupG2, this.$parent.groupG3, this.$parent.groupG4, this.$parent.groupG5, this.$parent.groupG6));
                unique_list_files = Array.from(new Set(unique_list_files));
              
                $.post( "/processcomparemultivariate", {files: JSON.stringify(unique_list_files)})
                   .done(function(data)
                   {
                   var win = window.open();
                    win.document.write(data);
                    win.document.close();
                    win.focus();
                   }); 
       
            }
       
         },

        template: '<div><button class="btn btn-primary btn-block" v-on:click="setupnetworking">Set Up Co-Analysis with GNPS Molecular Networking</button> \
        <br> \
        <button class="btn btn-primary btn-block" v-on:click="setuplibrarysearch">Set Up Co-Analysis with GNPS Library Search</button> \
        <br> \
        <button class = "btn btn-primary btn-block" v-on:click="setuppca">Launch PCA of Selected Files</button> \
        <br> \
        </div>'


    })

    var app4 = new Vue({
        el: '#app-4',
        methods: {
            updateAttributeSelection: function(attributeterm_list) {
                this.attributeterms = attributeterm_list
            },
            updateAttributeTermSelection: function(attributename, attributeterm, groupname, filelist) {
                term_key = attributename + ":" + attributeterm + ":" + groupname
                this["group" + groupname] = this["group" + groupname].concat(filelist)
                this.selectedTerms.push(term_key)
            }
        },
        data: {
            attributes: [{
                attributename: "ATTRIBUTE_1"
            }, {
                attributename: "ATTRIBUTE_2"
            }],
            attributeterms: [],
            groupG1: [],
            groupG2: [],
            groupG3: [],
            groupG4: [],
            groupG5: [],
            groupG6: [],
            selectedTerms: [],
            filterTerms: []
        }
    })

    //Loading the initial attributes
    $.ajax({
        url: "/attributes",
        success: function(response) {
            app4.attributes = response
        },
        dataType: "json"
    });
</script>


(% endblock %)
