(% extends "layout.html" %)

(% block content %)

<!--
  DO NOT SIMPLY COPY THOSE LINES. Download the JS and CSS files from the
  latest release (https://github.com/enyo/dropzone/releases/latest), and
  host them yourself!
-->
<script src="https://rawgit.com/enyo/dropzone/master/dist/dropzone.js"></script>
<link rel="stylesheet" href="https://rawgit.com/enyo/dropzone/master/dist/dropzone.css">

<style>
    .dropzone { border: 2px dashed #0087F7; border-radius: 5px; background: white; margin: 20px}
    .dropzone .dz-message { font-weight: 400; }
    .dropzone .dz-message .note { font-size: 0.8em; font-weight: 200; display: block; margin-top: 1.4rem; }
    .container-fluid { min-height: 100%; height: 100%;}
</style>


<div>
    <div class="container-fluid">
        <br>
        <br>
        <div class="row">
          <div class="col-sm"></div>
          <div class="col-sm text-center">
              <h2>How to Add New Sample Information to Public Data</h2>
          </div>
          <div class="col-sm"></div>
        </div>

        <br>
        <div class="row">
            <div class="col-sm-2"></div>
            <div class="col-sm-8">
                <p>
                    To add new sample information to your public data at GNPS, you'll need to do the following:
                  <ul>
                          <li>
                              <b>Upload Data to GNPS (or MassIVE) and make the data public</b> - instructions can be found <a href="https://ccms-ucsd.github.io/GNPSDocumentation/">here</a>.
                          </li>
                          <li>
                            <b>Create a sample information file</b> that describes each file and upload to the corresponding MassIVE ID - instructions follow.
                          </li>
                      </ul>
                  <br>
              <b>Summary:</b> A sample information file should be created <b>per MassIVE ID</b> (it can contain multiple sample types, experiments, etc); however, the file is required to adhere to a template based on a controlled vocabulary. Sample information that does not adhere to the controlled vocabulary will be removed on a file-by-file basis. <b>If you require options that are not avaliable in the template, please contact the admins (EMAIL) in order to update the options.</b>
              <br>
              <br>
              <b>The sample information template can be found <a href="https://docs.google.com/spreadsheets/d/1xEYFvAR6GlB-Gv3OFr2xgnpNhhe6dznn7h0489HIReY/edit?usp=sharing">here</a>.</b>
                    <br>
                    <br>
              <ul>
                          <li>
                              Users should save a copy of the sample information template and enter information in Google Sheets.
                          </li>
                          <li>
                            When completed, The sample information file should be downloaded from Google Sheets as a tab separated text file (please delete unused rows prior to download).
                          </li>
                          <li>
                            The formatting of the sample information file should then be checked using the validator below with a drag and drop. The validator will indicate via a message if there are any errors. Non-adherant information is displayed in the "Sample Information Validation Errors" panel.
                          </li>
                          <li>
                            Once your sample information has passed validation, upload your sample information file renamed as "gnps_metadata.tsv" (exactly) to MassIVE (massive.ucsd.edu) by updating the corresponding dataset. <b>In order to update a MassIVE ID</b>, click the "add files" button in MassIVE and upload the sample information file in the <b>supplementary file"</b> option. *This apporach allows the metadata to be automatically imported into ReDU-MS2 multiple times per day.
                          </li>
                      </ul>
                </p>
            </div>
            <div class="col-sm-2"></div>
        </div>

        <br>

        <div class="row">
            <div class="col-md-2" id=""></div>
            <div class="dropzone col-md-8" id="validate">
                <div class="dz-message">Drop files here or click to validate!</div>
            </div>
            <div class="col-md-2" id=""></div>
        </div>

        <div id="app-4" class="container-fluid">
            <br>
            <h2 class="text-center">Sample Information Summary</h2>
            <br>
            <table class="table table-sm table-striped">
                <thead>
                    <tr>
                        <th>Category</th>
                        <th>Value</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="stat in stats">
                        <td>{{stat.type}}</td>
                        <td>{{stat.value}}</td>
                    </tr>
                </tbody>
            </table>

            <hr>

            <h3 class="text-center">Sample Information Validation Errors (First 500)</h3>
            <br>
            <table class="table table-sm table-striped">
                <thead>
                    <tr>
                        <th>Header</th>
                        <th>Line Number</th>
                        <th>Error String</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="error in errors">
                        <td>{{error.header}}</td>
                        <td>{{error.line_number}}</td>
                        <td>{{error.error_string}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<script>
    validatedropzone = new Dropzone("#validate", { url: "validate", maxFilesize: 200, parallelUploads:1});
    validatedropzone.on("success", function(file, response) {
        validation_json = JSON.parse(response)
        app4._data.errors = validation_json.errors.slice(0, 500);
        app4._data.stats = validation_json.stats;
        app4._data.pass_validation = validation_json.status;

        if(validation_json.status){
            alert("Sample Information File Passed Validation!")
        }
        else{
            alert("Sample Information File Failed Validation! Please Check Errors Below.")
        }
    });

    validatedropzone.on("error", function(file) {

    });

    var app4 = new Vue({
        el: '#app-4',
        methods: {
        },
        data: {
            pass_validation: null,
            errors: [],
            stats: []
        }
    })
</script>

(% endblock %)
