(% extends "layout.html" %)

(% block content %)

<!--
  DO NOT SIMPLY COPY THOSE LINES. Download the JS and CSS files from the
  latest release (https://github.com/enyo/dropzone/releases/latest), and
  host them yourself!
-->
<script src="https://rawgit.com/enyo/dropzone/master/dist/dropzone.js"></script>
<link rel="stylesheet" href="https://rawgit.com/enyo/dropzone/master/dist/dropzone.css">

<style>
    .dropzone { border: 2px dashed #0087F7; border-radius: 5px; background: white; margin: 20px}
    .dropzone .dz-message { font-weight: 400; }
    .dropzone .dz-message .note { font-size: 0.8em; font-weight: 200; display: block; margin-top: 1.4rem; }
    .container-fluid { min-height: 100%; height: 100%;}
</style>


<div>
    <div class="container-fluid">
        <br>
        <br>
        <div class="row">
          <div class="col-sm"></div>
          <div class="col-sm text-center">
              <h2>Add Metadata To Public Data</h2>
          </div>
          <div class="col-sm"></div>
        </div>

        <br>
        <div class="row">
            <div class="col-sm-2"></div>
            <div class="col-sm-8">
                <p>
                    To add new metadata to your public data at GNPS, you'll need to create a metadata spreadsheet describing each individual mass spectrometry file. This will need to fit
                    into our own metadata template that is entered according to a controlled vocabulary. Check out this <a href="#">template</a>.
                    <br>
                    <br>
                    Once your have create your own metadata file saved as a tab separated text file based on the template, you can check if the format is valid below with a drag and drop.
                    <br>
                    <br>
                    Once your metadata has been updated save your file as gnps_metadata.tsv exactly and update your dataset with this gnps_metadata.tsv in the other file category. This metadata will be imported automatically each evening.
                </p>
            </div>
            <div class="col-sm-2"></div>
        </div>

        <br>

        <div class="row">
            <div class="col-md-2" id=""></div>
            <div class="dropzone col-md-8" id="validate">
                <div class="dz-message">Drop files here or click to validate!</div>
            </div>
            <div class="col-md-2" id=""></div>
        </div>

        <div id="app-4" class="container-fluid">
            <br>
            <h3 class="text-center">Metadata Summary</h3>
            <br>
            <table class="table table-sm table-striped">
                <thead>
                    <tr>
                        <th>Category</th>
                        <th>Value</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="stat in stats">
                        <td>{{stat.type}}</td>
                        <td>{{stat.value}}</td>
                    </tr>
                </tbody>
            </table>

            <hr>

            <h3 class="text-center">Metadata Validation Errors</h3>
            <br>
            <table class="table table-sm table-striped">
                <thead>
                    <tr>
                        <th>Header</th>
                        <th>Line Number</th>
                        <th>Error String</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="error in errors">
                        <td>{{error.header}}</td>
                        <td>{{error.line_number}}</td>
                        <td>{{error.error_string}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<script>
    validatedropzone = new Dropzone("#validate", { url: "validate", maxFilesize: 200, parallelUploads:1});
    validatedropzone.on("success", function(file, response) {
        validation_json = JSON.parse(response)
        app4._data.errors = validation_json.errors;
        app4._data.stats = validation_json.stats;
        app4._data.pass_validation = validation_json.status;

        if(validation_json.status){
            alert("Metadata File Passed Validation!")
        }
        else{
            alert("Metadata File Failed Validation! Please Check Errors Below.")
        }
    });

    var app4 = new Vue({
        el: '#app-4',
        methods: {
        },
        data: {
            pass_validation: null,
            errors: [],
            stats: []
        }
    })
</script>

(% endblock %)
