(% extends "layout.html" %)

(% block content %)

<style>
tbody {
    display:block;
    height:800px;
    overflow:auto;
}
thead, tbody tr {
    display:table;
    width:100%;
    table-layout:fixed;
}
thead {
    width: calc( 100% - 1em )
}

</style>

    <div id="app-4" class="container-fluid">
        <br>
        <h2 class="text-center">Compound Enrichment Query Interface</h2>
        <br>
        <div class="col-md-6 offset-md-4">
            <div class="form-group row">
                <label for="compound" class="col-4 col-form-label">Compound</label>
                <div class="col-4">
                    <input class="form-control" type="text" placeholder="Enter Compound Name" id="compound">
                </div>
            </div>
            <query-results></query-results>
        </div>
        <div>{{results.length}} Metadata</div>
        <table class="table table-sm table-striped">
            <thead>
                  <tr>
                    <th>Attribute</th>
                    <th>Term</th>
                    <th>Observations</th>
                    <th>
                        Total Files
                        <i class="fa fa-sort-numeric-desc" aria-hidden="true" style="cursor: pointer;" onclick="sortdesccolumn('totalfiles')"></i>
                        <i class="fa fa-sort-numeric-asc" aria-hidden="true" style="cursor: pointer;" onclick="sortasccolumn('totalfiles')"></i>
                    </th>
                    <th>
                        Percentage
                        <i class="fa fa-sort-numeric-desc" aria-hidden="true" style="cursor: pointer;" onclick="sortdesccolumn('percentage')"></i>
                        <i class="fa fa-sort-numeric-asc" aria-hidden="true" style="cursor: pointer;" onclick="sortasccolumn('percentage')"></i>
                    </th>
                  </tr>
            </thead>
            <tbody>
                <tr v-for="result in results">
                    <td>{{result.attribute_name}}</td>
                    <td>{{result.attribute_term}}</td>
                    <td>{{result.compoundfiles}}</td>
                    <td>{{result.totalfiles}}</td>
                    <td>{{result.percentage}}</td>
                </tr>
            </tbody>
        </table>
    </div>

    <script>
        all_files = []
        if(window.location.hash.length > 5){
            all_files = JSON.parse(decodeURIComponent(window.location.hash).slice(1))["filenames"]
        }

        function sortdesccolumn(column_name) {
            app4.results.sort(function(a, b) {
                if(a[column_name] < b[column_name]) return 1;
                if(a[column_name] > b[column_name]) return -1;
                return 0
            });
        }

        function sortasccolumn(column_name) {
            app4.results.sort(function(a, b) {
                if(a[column_name] < b[column_name]) return -1;
                if(a[column_name] > b[column_name]) return 1;
                return 0
            });
        }

        function querycompound() {
            $.ajax({
                url: "/compoundenrichment",
                type: "POST",
                success: function(componentObject) {
                    return function(response) {
                        app4._data.results = response
                    }
                }(this),
                data: {
                    compoundname: $("#compound").val(),
                    filenames: JSON.stringify(all_files)
                },
                dataType: "json"
            });
        }


        Vue.component('query-results', {
            props: [],
            data: function() {
                return {
                    classSelection: "btn btn-primary"
                }
            },
            methods: {
                clickMe: querycompound
            },
            template: '<div><button  v-bind:class=classSelection v-on:click="clickMe()">Query Compound</button></div>'
        })
        var app4 = new Vue({
            el: '#app-4',
            methods: {
            },
            data: {
                results: []
            }
        })

        var params = new window.URLSearchParams(window.location.search);
        if(params.has("compound") == true){
            $("#compound").val(params.get("compound"))
            querycompound();
        }




    </script>

(% endblock %)
