(% extends "layout.html" %)

(% block content %)


<div id="app-4" class="container-fluid justify-content-center align-items-center">
    <br>

    <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-12 text-center">
            <h2>Comparison to Global Multivariate Visualization of GNPS Public Data</h2>
        </div>
        <div class="col-sm-1"></div>
    </div>

    <br>

    <div class="row">
        <div class="col-sm"></div>
        <div class="col-sm text-center">
            Lorum Ipsum
        </div>
        <div class="col-sm"></div>
    </div>
</div>


(% endblock %)
