<!DOCTYPE html>
<html>
<head>
  <title>My first Vue app</title>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
</head>
<body>
  <!-- <div id="app">
    {{ message }}
  </div>

  <div id="app-2">
      <span v-bind:title="message">
        Hover your mouse over me for a few seconds
        to see my dynamically bound title!
      </span>
</div>

    <div id="app-3">
        <button-counter></button-counter>
    </div> -->

    <div id="app-4">
        <h1>Attributes</h1>
        <div>
            <attribute-viewer v-for="item in attributes" v-bind:attributename="item.attributename" v-on:update-attribute="updateAttributeSelection"></attribute-viewer>
        </div>
        <h1>Attribute Terms</h1>
        <div>
            <attributeterm-viewer v-for="item in attributeterms" v-bind:attributeterm="item.attributeterm" v-bind:countfiles="item.countfiles" v-bind:attributename="item.attributename" v-on:update-attributeterm="updateAttributeTermSelection"></attributeterm-viewer>
        </div>

        <br>
        <div>
        <analysis-gobutton></attributeterm-viewer>
        </div>

    </div>

  <script>
    // var app = new Vue({
    //   el: '#app',
    //   data: {
    //     message: 'Hello Vue!'
    //   }
    // })
    //
    // var app2 = new Vue({
    //   el: '#app-2',
    //   data: {
    //     message: 'You loaded this page on ' + new Date().toLocaleString()
    //   }
    // })
    //
    //
    // // Define a new component called button-counter
    // Vue.component('button-counter', {
    //   data: function () {
    //     return {
    //       count: 0
    //     }
    //   },
    //   methods: {
    //       clickMe: function(event){
    //           this.count++
    //       }
    //   },
    //   template: '<button v-on:click="clickMe">You clicked me {{ count }} times.</button>'
    // })
    //
    // var app3 = new Vue({
    //   el: '#app-3',
    //   data: {
    //   }
    // })

    Vue.component('attribute-viewer', {
      props: ['attributename'],
      data: function () {
        return {
          count: 0
        }
      },
      methods: {
          clickMe: function(event){
              $.ajax({
                url: "/attribute/" + this.$props["attributename"] + "/attributeterms",
                success: function(componentObject){
                    return function(response){
                        componentObject.$emit("update-attribute", response)
                    }
                }(this),
                dataType: "json"
              });
          }
      },
      template: '<div><button v-on:click="clickMe">View Terms: {{attributename}}</button></div>'
    })

    Vue.component('attributeterm-viewer', {
      props: ['attributename', 'attributeterm', 'countfiles'],
      data: function () {
        return {
          count: 0
        }
      },
      methods: {
          clickMe: function(event){
              $.ajax({
                url: "/attribute/" + this.$props["attributename"] + "/attributeterm/" + this.$props["attributeterm"] + "/files",
                success: function(componentObject){
                    return function(response){
                        componentObject.$emit("update-attributeterm", response)
                    }
                }(this),
                dataType: "json"
              });
          }
      },
      template: '<div><button v-on:click="clickMe">Term: {{attributename}} {{attributeterm}}, {{countfiles}}</button></div>'
    })

    Vue.component('analysis-gobutton', {
      data: function () {
        return {
        }
      },
      methods: {
          clickMe: function(event){
              filelist1_array = []
              this.$parent.filelist1.forEach(function(element){
                  filelist1_array.push(element["filename"])
              })
              filelist_string = filelist1_array.join(";")
              params_dict = {};
              params_dict["workflow"] = "METABOLOMICS-SNETS-V2"
              params_dict["library_on_server"] = "d.speclibs;"
              params_dict["spec_on_server"] = filelist_string

              //analysis_url = "https://ccms-internal.ucsd.edu/ProteoSAFe/index.jsp?#" + encodeURIComponent(JSON.stringify(params_dict))
              analysis_url = "https://gnps.ucsd.edu/ProteoSAFe/index.jsp?#" + encodeURIComponent(JSON.stringify(params_dict))
              var win = window.open(analysis_url, '_blank');
              win.focus();
          }
      },
      template: '<div><button v-on:click="clickMe">Analyze Data - {{ this.$parent.filelist1.length }} Files</button></div>'
    })

    var app4 = new Vue({
      el: '#app-4',
      methods: {
          updateAttributeSelection: function(attributeterm_list){
              this.attributeterms = attributeterm_list
          },
          updateAttributeTermSelection: function(filelist){
              this.filelist1 = filelist
          }
      },
      data: {
            attributes: [{attributename: "ATTRIBUTE_1"}, {attributename: "ATTRIBUTE_2"}],
            attributeterms: [{attributename: "ATTRIBUTE_1", attributeterm: "term1", countfiles: "0"}],
            filelist1: []
      }
    })

    //Loading the initial attributes
    $.ajax({
      url: "/attributes",
      success: function(response){
          app4.attributes = response
      },
      dataType: "json"
    });







  </script>
</body>
</html>
