<!DOCTYPE html>
<html>

<head>
    <title>GNPS Metadata Analysis Interface</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</head>

<body>
    <!-- A grey horizontal navbar that becomes vertical on small screens -->
    <nav class="navbar navbar-expand-sm bg-light navbar-light">
        <a class="navbar-brand" href="gnps.ucsd.edu">
            <img src="/static/img/GNPS_logo.png" alt="Logo" style="width:120px;">
        </a>

      <!-- Links -->
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="/dashboard">Analysis Selection</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/metadata">Metadata Explorer</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://ccms-ucsd.github.io/GNPSDocumentation/">Documentation</a>
        </li>
      </ul>

    </nav>

    <div id="app-4" class="container-fluid justify-content-center align-items-center">
        <div class="row">
            <div class="col-sm"></div>
            <div class="col-sm text-center">
                <h2>GNPS Metadata Analysis Interface</h2>
            </div>
            <div class="col-sm"></div>
        </div>

        <hr>

        <div id="toppanel" class="row">
            <div class="col">
                <div class="text-center">
                    <h3>Analysis Summary</h3>
                </div>

                <analysis-gobutton></analysis-gobutton>
            </div>

            <div class="col">
                <div class="text-center">
                    <h3>Attributes</h3>
                </div>
                <attribute-viewer v-for="item in attributes" v-bind:attributename="item.attributename" v-on:update-attribute="updateAttributeSelection"></attribute-viewer>
            </div>

            <div class="col">
                <div class="text-center">
                    <h3>Attribute Term Filters</h3>
                </div>
                <attribute-filterviewer v-for="item in filterTerms" v-bind:attributename="item.attributename" v-bind:attributeterm="item.attributeterm"></attribute-filterviewer>
            </div>
        </div>

        <hr>

        <div class="col-sm text-center">
            <h2>Attribute Terms</h2>
        </div>
        <div style="overflow-y:auto; height:400px">
            <table class="table table-sm table-striped">
                <thead>
                  <tr>
                    <th>Attribute</th>
                    <th>Ontology Term</th>
                    <th>Term</th>
                    <th>TermFilter</th>
                    <th># Files</th>
                    <th>G1</th>
                    <th>G2</th>
                    <th>G3</th>
                    <th>G4</th>
                    <th>G5</th>
                    <th>G6</th>
                  </tr>
                </thead>
                <tbody>
                    <!-- <attributeterm-viewer :attributeterm=attributeterm.attributeterm :countfiles=attributeterm.countfiles :attributename=attributeterm.attributename v-on:update-attributeterm="updateAttributeTermSelection"></attributeterm-viewer> -->
                    <tr v-for="attributeterm in attributeterms">
                        <td>{{attributeterm.attributename}}</td>
                        <td>{{attributeterm.ontologyterm}}</td>
                        <td>{{attributeterm.attributeterm}}</td>
                        <td>
                            <attributeterm-filterbutton :attributeterm=attributeterm.attributeterm :attributename=attributeterm.attributename ></attributeterm-filterbutton>
                        </td>
                        <td>{{attributeterm.countfiles}}</td>
                        <td>
                            <attributeterm-analyzebutton :attributeterm=attributeterm.attributeterm groupname="G1" :attributename=attributeterm.attributename v-on:update-attributeterm="updateAttributeTermSelection"></attributeterm-analyzebutton>
                        </td>
                        <td>
                            <attributeterm-analyzebutton :attributeterm=attributeterm.attributeterm groupname="G2" :attributename=attributeterm.attributename v-on:update-attributeterm="updateAttributeTermSelection"></attributeterm-analyzebutton>
                        </td>
                        <td>
                            <attributeterm-analyzebutton :attributeterm=attributeterm.attributeterm groupname="G3" :attributename=attributeterm.attributename v-on:update-attributeterm="updateAttributeTermSelection"></attributeterm-analyzebutton>
                        </td>
                        <td>
                            <attributeterm-analyzebutton :attributeterm=attributeterm.attributeterm groupname="G4" :attributename=attributeterm.attributename v-on:update-attributeterm="updateAttributeTermSelection"></attributeterm-analyzebutton>
                        </td>
                        <td>
                            <attributeterm-analyzebutton :attributeterm=attributeterm.attributeterm groupname="G5" :attributename=attributeterm.attributename v-on:update-attributeterm="updateAttributeTermSelection"></attributeterm-analyzebutton>
                        </td>
                        <td>
                            <attributeterm-analyzebutton :attributeterm=attributeterm.attributeterm groupname="G6" :attributename=attributeterm.attributename v-on:update-attributeterm="updateAttributeTermSelection"></attributeterm-analyzebutton>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <script>
        function generateGNPSfilestring(fileslist) {
            filelist1_array = extractFilenamesToList(fileslist)
            filelist_string = filelist1_array.join(";")

            return filelist_string
        }

        function extractFilenamesToList(fileslist){
            filelist1_array = []
            fileslist.forEach(function(element) {
                filelist1_array.push(element["filename"])
            })
            return filelist1_array
        }

        Vue.component('attribute-viewer', {
            props: ['attributename'],
            data: function() {
                return {
                    count: 0
                }
            },
            methods: {
                clickMe: function(event) {
                    $.ajax({
                        url: "/attribute/" + this.$props["attributename"] + "/attributeterms",
                        data: {
                            filters: JSON.stringify(this.$parent.filterTerms)
                        },
                        success: function(componentObject) {
                            return function(response) {
                                componentObject.$emit("update-attribute", response)
                            }
                        }(this),
                        dataType: "json"
                    });
                }
            },
            template: '<div><button class="btn btn-warning btn-block" style="margin-bottom:4px" v-on:click="clickMe">{{attributename}}</button></div>'
        })

        Vue.component('attribute-filterviewer', {
            props: ['attributename', 'attributeterm'],
            data: function() {
                return {
                    count: 0
                }
            },
            methods: {
                clickMe: function(event) {
                    found_index = -1
                    for( i = 0; i < this.$parent.filterTerms.length; i++){
                        if(this.$parent.filterTerms[i].attributename == this.$props["attributename"] && this.$parent.filterTerms[i].attributeterm == this.$props["attributeterm"]){
                            found_index = i;
                        }
                    }

                    if (found_index !== -1) {
                        this.$parent.filterTerms.splice(found_index, 1);
                    }

                }
            },
            template: '<div><button class="btn btn-danger btn-block" style="margin-bottom:4px"  v-on:click="clickMe">{{attributename}} : {{attributeterm}}</button></div>'
        })

        Vue.component('attributeterm-filterbutton', {
            props: ['attributename', 'attributeterm'],
            data: function() {
                return {
                    classSelection: "btn-sm btn-outline-secondary"
                }
            },
            methods: {
                clickMe: function() {
                    //Checking if we've already added this term to a group
                    found_index = -1
                    for( i = 0; i < this.$parent.filterTerms.length; i++){
                        if(this.$parent.filterTerms[i].attributename == this.$props["attributename"] && this.$parent.filterTerms[i].attributeterm == this.$props["attributeterm"]){
                            found_index = i;
                        }
                    }

                    if (found_index == -1) {
                        this.$parent.filterTerms.push({
                            attributename:   this.$props["attributename"],
                            attributeterm: this.$props["attributeterm"]
                        })
                    }



                    //console.log(term_key)

                    //this.classSelection = "btn-sm btn-danger"
                }
            },
            template: '<button v-bind:class=classSelection v-on:click="clickMe()">+Filter</button>'
        })

        Vue.component('attributeterm-analyzebutton', {
            props: ['attributename', 'attributeterm', 'groupname'],
            data: function() {
                return {
                    classSelection: "btn-sm btn-outline-secondary"
                }
            },
            methods: {
                clickMe: function() {
                    //Checking if we've already added this term to a group
                    term_key = this.$props["attributename"] + ":" + this.$props["attributeterm"]
                    if(this.$parent.selectedTerms.includes(term_key)){
                        alert("Already Chose This Term")
                        return
                    }

                    this.classSelection = "btn-sm btn-danger"
                    $.ajax({
                        url: "/attribute/" + this.$props["attributename"] + "/attributeterm/" + this.$props["attributeterm"] + "/files",
                        data: {
                            filters: JSON.stringify(this.$parent.filterTerms)
                        },
                        success: function(componentObject) {
                            return function(response) {
                                componentObject.$emit("update-attributeterm", componentObject.$props["attributename"], componentObject.$props["attributeterm"], componentObject.$props["groupname"], response)
                            }
                        }(this),
                        dataType: "json"
                    });
                }

            },
            template: '<button  v-bind:class=classSelection v-on:click="clickMe(\'{{ groupname }}\')">+{{ groupname }}</button>'
        })

        Vue.component('analysis-gobutton', {
            data: function() {
                return {}
            },
            methods: {
                clickMe: function(event) {
                    //Checking there are no file intersections
                    total_number_of_files = this.$parent.groupG1.length + this.$parent.groupG2.length + this.$parent.groupG3.length + this.$parent.groupG4.length + this.$parent.groupG5.length + this.$parent.groupG6.length
                    unique_list_files = extractFilenamesToList(this.$parent.groupG1.concat(this.$parent.groupG2, this.$parent.groupG3, this.$parent.groupG4, this.$parent.groupG5, this.$parent.groupG6));
                    unique_list_files = Array.from(new Set(unique_list_files));
                    if(total_number_of_files != unique_list_files.length){
                        alert("Warning: some files belong to multiple groups! Might cause some issues on GNPS")
                    }

                    //Forming parameters
                    params_dict = {};
                    params_dict["desc"] = "Meta-Analysis on GNPS"
                    params_dict["workflow"] = "METABOLOMICS-SNETS-V2"
                    params_dict["library_on_server"] = "d.speclibs;"
                    params_dict["spec_on_server"] = generateGNPSfilestring(this.$parent.groupG1)
                    params_dict["spec_on_server_group2"] = generateGNPSfilestring(this.$parent.groupG2)
                    params_dict["spec_on_server_group3"] = generateGNPSfilestring(this.$parent.groupG3)
                    params_dict["spec_on_server_group4"] = generateGNPSfilestring(this.$parent.groupG4)
                    params_dict["spec_on_server_group5"] = generateGNPSfilestring(this.$parent.groupG5)
                    params_dict["spec_on_server_group6"] = generateGNPSfilestring(this.$parent.groupG6)

                    //analysis_url = "https://ccms-internal.ucsd.edu/ProteoSAFe/index.jsp?#" + encodeURIComponent(JSON.stringify(params_dict))
                    analysis_url = "https://gnps.ucsd.edu/ProteoSAFe/index.jsp?#" + encodeURIComponent(JSON.stringify(params_dict))
                    var win = window.open(analysis_url, '_blank');
                    win.focus();
                }
            },
            template: '<div> <table class="table table-striped"> \
            <tr> \
            <th>Group Number</th> \
            <th>Number of Selected Files</th> \
            </tr> \
            <tr><td>Group 1 </td><td>{{ this.$parent.groupG1.length }}</td></tr>\
            <tr><td>Group 2 </td><td>{{ this.$parent.groupG2.length }}</td></tr>\
            <tr><td>Group 3 </td><td>{{ this.$parent.groupG3.length }}</td></tr>\
            <tr><td>Group 4 </td><td>{{ this.$parent.groupG4.length }}</td></tr>\
            <tr><td>Group 5 </td><td>{{ this.$parent.groupG5.length }}</td></tr>\
            <tr><td>Group 6 </td><td>{{ this.$parent.groupG6.length }}</td></tr>\
            </table> \
            <button class="btn btn-primary btn-block" v-on:click="clickMe">Analyze Data on GNPS Networking</button> \
            </div>'
        })

        var app4 = new Vue({
            el: '#app-4',
            methods: {
                updateAttributeSelection: function(attributeterm_list) {
                    this.attributeterms = attributeterm_list
                },
                updateAttributeTermSelection: function(attributename, attributeterm, groupname, filelist) {
                    term_key = attributename + ":" + attributeterm
                    this["group" + groupname] = this["group" + groupname].concat(filelist)
                    this.selectedTerms.push(term_key)
                }
            },
            data: {
                attributes: [{
                    attributename: "ATTRIBUTE_1"
                }, {
                    attributename: "ATTRIBUTE_2"
                }],
                attributeterms: [],
                groupG1: [],
                groupG2: [],
                groupG3: [],
                groupG4: [],
                groupG5: [],
                groupG6: [],
                selectedTerms: [],
                filterTerms: []
            }
        })

        //Loading the initial attributes
        $.ajax({
            url: "/attributes",
            success: function(response) {
                app4.attributes = response
            },
            dataType: "json"
        });
    </script>
</body>

</html>
